<div class="flex items-center">
  <%= label @f, :minimum, "Min: ", class: "w-full sm:w-1/3" %>
  <%= text_input @f, :minimum, class: "bg-gray-800 border border-gray-900 p-1" %>
</div>
<div class="flex items-center">
  <%= label @f, :maximum, "Max: ", class: "w-full sm:w-1/3" %>
  <%= text_input @f, :maximum, class: "bg-gray-800 border border-gray-900 p-1" %>
</div>
